{% extends "navbar_temp.html" %}

{% block navbar %}
        <br><br>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h2>Contact Us</h2>
                </div>

                <span style = "color:'red'"></span>
                <form>
                    
                    <input type="text" id="name" class="fadeIn second"  
                     placeholder="Enter your Name"/>
                    
                    <input type="text" id="email" class="fadeIn third"
                     placeholder="Enter your Email ID"/>
                    
                    <input type="text" id="message" class="fadeIn third"
                    placeholder="Message"/>

                    <input type="submit" class="fadeIn fourth" value="Submit"/>
                </form>

                <!-- <div id="formFooter">
                    <a class="underlineHover" href="Login.html">Login</a>
                </div> -->
            </div>

            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            <div class="wrapper2">
                <div class="button">          
               
                <div class="icon"><a class="SM" target="_blank" href="mail:dmishika2002@gmail.com"><i  class="fas fa-envelope"></i></a></div>
                <span>Mail</span>
                </div>
                <div class="button">
                <div class="icon"><a class = "SM" target="_blank" href= "tel:9137907057"><i class="fas fa-phone"></i></a></div>
                <span>Call</span>
                </div>
                <div class="button">
                <div class="icon"><a class="SM" target="_blank" href= "https://www.instagram.com/its_ishikade/"><i class="fab fa-instagram"></i></a> </div>
                <span>Instagram</span>
                </div>               
        
                <div class="button">
                <div class="icon"><a class="SM" target="_blank" href= "https://www.linkedin.com/in/ishika-de-3a01aa1b8/"><i class="fab fa-linkedin-in"></i></a></div>
                <span>Linked-in</span>
            </div>
        </div>
        
{% endblock %}