{% extends "navbar_temp.html" %}

{% block navbar %}

        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h2>Login</h2>
                </div>

                <form >
                    <input type="text" id="login" class="fadeIn second"
                    placeholder="Email" onChange={this.handleChange}/>
                    
                    <input type="password" id="password" class="fadeIn third" 
                    placeholder="Password" />
                    
                    <input type="submit" class="fadeIn fourth" value="Log In"/>
                </form>
<!-- 
                <div class='create'>
                    
                </div> -->

                <div id="formFooter">
                    <a class="underlineHover" href="{{ url_for('signup') }}">Create Account</a>
                </div>
            </div>
        </div>

{% endblock %}