<html>
    <head>
        <title>SignUp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        <div class = "mynav">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                <div class="container">
                  <a class="brand" href="homepage.html">NOTEAPP</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                        <a class="nav-link" href="homepage.html">Home</a>
                      </li>
              <li class="nav-item">
                        <a class="nav-link" href="Login.html">Log In</a>
                      </li>
              <li class="nav-item">
                        <a class="nav-link" href="SignUp.html">Sign Up</a>
                      </li>
              <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                      </li>
              </ul>
              </div>
              </div>
              </nav>
          </div>
    </div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h2>Create Account</h2>
                </div>

                <span style = "color:'red'"></span>

                <form>
                    
                    <input type="text" id="login" class="fadeIn second" 
                     placeholder="Email"/>
                    
                    <input type="password" id="password" class="fadeIn third" 
                     placeholder="Password"/>
                    
                    <input type="password" id="cpassword" class="fadeIn third" 
                    placeholder="Confirm Password"/>

                    <input type="submit" class="fadeIn fourth" value="Create"/>
                </form>

                <div id="formFooter">
                    <a class="underlineHover" href="Login.html">Login</a>
                </div>
            </div>
        </div>
    </body>
</html>