{% extends "navbar_temp.html" %}

{% block navbar %}

    </div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h2>Create Account</h2>
                </div>

                <span style = "color:'red'"></span>

                <form>
                    
                    <input type="text" id="login" class="fadeIn second" 
                     placeholder="Email"/>
                    
                    <input type="password" id="password" class="fadeIn third" 
                     placeholder="Password"/>
                    
                    <input type="password" id="cpassword" class="fadeIn third" 
                    placeholder="Confirm Password"/>

                    <input type="submit" class="fadeIn fourth" value="Create"/>
                </form>

                <div id="formFooter">
                    <a class="underlineHover" href="{{ url_for('login') }}">Login</a>
                </div>
            </div>
        </div>

{% endblock %}